.entry-page{
    position: fixed; 
    top: 0; 
    left: 0; 
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

    background-image: url('.\\images\\8609bf40.jfif') ; 
    background-size: cover;
    background-position: center;

    justify-content: center;
    align-content: center;
}

img {
    display: block;
    margin: auto;
    margin-top: 20%;
}