.list-item-icon img {
    height: 35px;
    width: auto;
    padding-right: 35px;
    border-right: 2px solid black;
}

.list-item {

    * {
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        justify-items: space-between;
        align-content: space-between;
        align-items: space-between;
        text-decoration: none;
        color: black;
    }

    .list-item-text {
        text-decoration: none;
        color: black;
    }

}