.swipe-up-button img {
    
    width: 35px;
    height: 35px;
    margin: 1px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
    justify-self: center;
    align-self: center;
}
.swipe-up-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
    justify-self: center;
    align-self: center;
}

.button-spacer{
    min-height: 20px;
}